@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Document Type</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="#ajouterdocumentTYPE" onclick="showmodaladdtypefile()" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Ajouter Document Type</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table width="100%" id="DocumentTypetablez" class="table table-border table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th>code</th>
                            <th>label</th>

                            <th class="text-right">Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>


<div id="ModalExplorerDOCUMENTYPE" class="modal fade bd-example-modal-xl" role="dialog">
    <div class="modal-dialog  modal-xl  ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="modal-header p-2 mb-2 bg-primary text-white">
                    <h3> <i class="fa fa-book m-r-5"> </i>  EXPLORATION Type de document </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="table-responsive">

                            <input type="text" placeholder="search" id="cherchermedicalacte" class="form-control" />
                            <table id="mytabe" width="100%" class="table table-border table-striped custom-table  mb-0">
                                <thead>
                                    <tr>
                                        <th>code </th>
                                        <th>Nom fichier</th>
                                        <th>Description</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody id="bodytableexporerdocumetyme"></tbody>
                            </table>
                        </div>


                    </div>
                </div>
                </div>
            </div>
    </div>
</div>


<div id="modifierdocumentTYPE" class="modal fade bd-example-modal-xl" role="dialog">
    <div class=" modal-dialog  modal-xl  ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="modal-header p-2 mb-2 bg-primary text-white">
                    <h3> <i class="fa fa-book m-r-5"> </i>  Modifier Type de document </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="form-row">




                        <div class="form-group col-md-6" id="inputmodifier">



                        </div>


                        <div class="form-group col-md-6" id="inputmodifier1">

                        </div>

                    </div>
                </div>
                    <div class="mx-auto" style="width: 200px;">
                        <button type="button" class="btn btn-primary" onclick="ModifieTypeDocument()"><i class="fa fa-edit m-r-5"> Modifier Type de document  </i> </button>
                    </div>
                </div>
            </div>
    </div>
</div>

<div id="ajouterdocumentTYPE" class="modal fade bd-example-modal-xl" role="dialog">
    <div class=" modal-dialog  modal-xl  ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="modal-header p-2 mb-2 bg-primary text-white">
                    <h3> <i class="fa fa-book m-r-5"> </i>  ajouter Type de document </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="form-row">




                        <div class="form-group col-md-6">
                            <label for="inputPassword4" class="float-left">  Code <span>*</span></label>

                            <input type="text" class="form-control" id="Code" placeholder="Code">
                            <label class="text-danger" id="Codedocumenttype">
                                saisir le Code

                            </label>

                        </div>


                        <div class="form-group col-md-6">
                            <label for="inputAddress2" class="float-left">Nom </label>
                            <input type="text" class="form-control" id="NomDt" placeholder="Nom">
                            <label class="text-danger" id="nomdocumenttype">
                                saisir le Nom

                            </label>
                        </div>

                    </div>
                </div>
                    <div class="mx-auto" style="width: 200px;">
                        <button type="button" class="btn btn-primary" onclick="addTypeDocument()"><i class="fa fa-plus m-r-5"> ajouter Type de document  </i> </button>
                    </div>
                </div>
            </div>
    </div>
</div>



<div id="supprimermodal" class="modal fade bd-example-modal-xl" role="dialog">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                    <h1>Delete </h1>
                    <p> la suppresion de cet document Type  impliquerai la suppression des toute les Document  qui appartient à cet document type  ?</p>

                    <div class="clearfix">
                        <button type="button" class="btn  btn-primary">Cancel</button>
                        <button type="button" onclick="confirmationdelete()" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="deleteDocumentType" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/img/delete1.png" alt="" width="50" height="46">
                <h3>Vous voulez sûrement supprimer cet type de document   ?</h3>
                <h3>  cette action impliquera la suppression des tous les documents dont il est associé</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal" onclick="fermer()" style="width: 25%;">Fermer</a>
                    <button type="submit" class="btn btn-danger" style="width: 25%;" onclick="confirmationdelete()">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>












@section Scripts{

    <script src="~/js/mesJS/DocumentType.js" asp-append-version=true>


    </script>
}
